<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Name of our awesome app -->
    <title>Rooaa</title>
    <!-- Link to your main style sheet-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/camera.css')}}">

    <!-- Reference to JQuery-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>

</head>

<body>
    AudioFactor <input type="number" id="AudioFactor" value="250">
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
</body>

</html>